@font-face {
  font-family: "Rajdhani-Bold";
  src: url("../fonts/Rajdhani-Bold.woff") format("woff2"), url("../fonts/Rajdhani-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Medium";
  src: url("../fonts/Rajdhani-Medium.woff") format("woff2"), url("../fonts/Rajdhani-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Rajdhani-Regular";
  src: url("../fonts/Rajdhani-Regular.woff") format("woff2"), url("../fonts/Rajdhani-Regular.woff") format("woff");
  font-display: swap;
}
