$white: #ffffff;
$lightgray: #E1E6ED;
$violet: #192B3F;
$blueshgray: #8A94A6;
$sandy: #C9B8A8;
$gray: #3D5876;
$hover:#2E4055;
$active:#3B536D;
$body:#E5E5E5;



$fontFamily: 'Rajdhani',
sans-serif;

$fontSize: 16;

$minWidth: 320px;
$maxWidth: 1360px;
$maxWidthContainer: 864px;
$md1: $maxWidthContainer+12px;
$phone: 320px;
$tablet: 720px;
$desktop: 1360px;

$mainColor: #192B3F;
